*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: #ff5e14;
  color: #fff;
}
.primary-text{
  color: var(--main-color) !important;
}
.white-text{
  color: var(--white-color);
}

h1, h2,h3, h4, h5, h6,p,a li,span{
  font-family: proxima-nova, helvetica, arial, sans-serif; 
}

:root {

  --main-color: #388FCB;
  --main-color-lite: #96CBEA;
  --secondary-color: #7AC044;
  --text-white:#fff;
  --black-color: #000000;
  --light-gray: rgba(210, 210, 210, 0.3);
  --blue-circle: #00b7cd;
  --dark-blue: rgb(77, 82, 177);
  --footer-color : #373656;
}

.main-text-color{
  color:var(--main-color)
}

a{
  text-decoration: none !important  ;
  font-size: 1.4rem;
  font-weight: 400;
  

}
.mb-6{
  margin-bottom: 7rem !important;
}
.bg-gray{
  background-color: #f5f6f6;
}

.white-text{
  color:var(--white-color) !important
}
.ps-fixed{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 2rem;
  transition: 0.5s ease-in;
  background-color: var(--main-color);
}
.ps-static{
  position: static;
  opacity: 1;
  transform: translateY(0%);
}

/* for header starting */
.top-bar-header{
  background-color: var(--main-color);
  position: relative;
  z-index: -1;
height: 80px;
 

}
.top-bar-header p {
  margin: 0 !important;
  border-left: 1px solid rgba(255, 255, 255, 0.393);
  padding: 10px;
  color: #fff;
}

.top-bar-header ul li a {
  color:  var(--main-color) ;
}
.top-bar-header ul li a:hover{
  color:  #8e8e8e;
}
header {
  max-height: 50px;
  height: 50px;
  position: sticky; /* Simplified to use standard property */
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--white-color);
  margin-top: 2rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

header ul {
  margin-bottom: 0;
  padding: 0 !important;
}

ul li {
  list-style: none;
  position: relative;
}

header ul li a {
  color: var(--black-color);
  font-weight: 600;
  cursor: pointer;
}

header ul li:nth-child(1)::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
}
.menu-icon{
  font-size: 2rem;
  font-weight: 900;
  line-height: 30px;
  color: var(--black-color);
}
.icon-header{
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  color:var(--main-color);
}

.icon-header-2{
  font-size: 16px;
  line-height: 30px;
  color:var(--black-color);
}

.icon {
  font-size: 3rem;
  font-weight: 900;
  font-style: bolder;
  color: white;
}

.burgerIcon {
  position: relative;
  z-index: 100;
}

/* for mobile menu */
.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0px;
  height: 100vh;
  background-color: var(--white-color);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;
  display: block;

}

.close-btn {
  position: absolute;
  right: 10px;
  top: -20px;
  color: var(--main-color);
}

/* for lg device */
@media only screen and (max-width: 1200px) {
  .mobile-menu ul {
      padding: 0 2rem;
  }
  .mobile-menu ul li {
      border-bottom: 1px solid rgb(79, 79, 79);
  }
  ul li a {
      color: var(--black-color);
  }

}

.hero-section {
  height: 100vh;
  background-color: #EFFAFF;
  position: relative;
  border-radius: 35px 35px 0 0;
}

.hero-section::before {
  content: "";
  background-color: var(--main-color-lite);
  width: 100%;
  height: 90vh;
  bottom: 20px;
  z-index: -1;
  position: absolute;
  border-radius: 35px 35px 0 0;
}
.custom-shape-divider-bottom-1730241208 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730241208 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 132px;
}

.custom-shape-divider-bottom-1730241208 .shape-fill {
  fill: #FFFFFF;
}


.hero-container h3{
  font-size: 3rem;
  font-weight: 900;
  line-height: 60px;
}
.hero-container p{
font-weight: 500;
font-size: 1.2rem;
}

/* Container for the form */
.form-container {
  display: flex;
  gap: 10px;
}

/* Email input field with icon */
.email-input-wrapper {
  position: relative;
  width: 250px;
}

.email-input {
  width: 100%;
  height: 50px;
  padding-left: 40px; 
  border: 1px solid var(--secondary-color);
  border-radius: 50px; 
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}
.email-Icon{
position: absolute;
top: 15px;
left: 10px;
}


/* Subscribe button */
.subscribe-btn {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; 
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  width: 180px;
  justify-content: center;
}


.stock-btn {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; 
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  width: 180px;
  justify-content: center;
  text-align: center;
  
}



.subscribe-btn:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color)
}

.stock-btn:hover {
  background-color: transparent;
  border: 1px solid var(--main-color-lite);
  color: var(--main-color)
}


/* for social icons list */
.social-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(56,143,203,1) 0%, rgba(87,166,140,1) 50%, rgba(122,192,68,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.border-lines .primary-border{
  width: 20%;
  height: 10px;
  border-radius: 0px 30px 30px 0px;
  background-color: var(--main-color);
}
.border-lines .secondary-border{
  width: 30%;
  height: 10px;
  border-radius: 0px 30px 30px 0px;
  background-color: var(--secondary-color);
}

.follow-icon{
  font-size: 1.5rem;
  margin-left: 20px;
  color: var(--secondary-color);
}

.social-followers{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-followers p{
  background: linear-gradient(90deg, rgba(56,143,203,1) 0%, rgba(87,166,140,1) 50%, rgba(122,192,68,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
-webkit-text-fill-color: transparent;
margin: 0px 0px 0px 5px;
font-weight: bold;
font-size: 16px;
}

.col-right-mobile .slider-container {
  width: 100%;
  max-width: 100%; /* Ensures the container doesn't exceed the screen size */
  margin: 0 auto; /* Centers the carousel on the page */
}

.col-right-mobile .img-fluid {
  max-height: 500px; /* Set a maximum height */
  width: 400px !important; /* Ensure the image takes up full width */
  max-width: 400px !important; /* Ensure the image takes up full width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  
}

.col-right-mobile .slick-active img {
  width: 400px !important; /* Force active images to fill the container */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.col-right-mobile .slick-slide.slick-active.slick-current {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.col-right-mobile .col-right-mobile .slick-slider .slick-track, .slick-slider .slick-list {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  text-align: center;
  /* -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0); */
  /* transform: translate3d(0, 0, 0); */
}

.col-right-mobile button.slick-arrow.slick-prev,button.slick-arrow.slick-next{
 display: none !important;
}


.col-right-mobile .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 30px !important;
  height: 100%;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

}

.col-right-mobile .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.col-right-mobile .slick-dots li.slick-active button {
  background: linear-gradient(180deg, #8bc34a 0%, #00bcd4 100%); /* Create the gradient look */
  width: 10px;
  height: 40px;
  border-radius: 20px; 
  margin: 35px 0px 9px 5px
}
.col-right-mobile .slick-dots li.slick-active button:before{
  display: none;
}

.col-right-mobile .slick-dots li button:before {
  font-family: 'slick';
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  background-color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  margin-top: 16px;
  -moz-osx-font-smoothing: grayscale;
}


.iconSCarousel .slider-container {
  width: 100%;
  margin: 0 auto; /* Center the carousel */
}

.iconSCarousel .img-fluid {
  max-width: 100%;
  width: 50px !important;
  height: 50px ;
  height: auto;
  display: block;
  margin: 0 auto; /* Center images */
}


/* iphone card carousel */
.phone-card-carousel .slider-container {
  width: 100%;
  margin: 0 auto; /* Center the carousel */
}

.phone-card-carousel .slick-slide {
  padding: 0 10px; /* Add padding to each slide for spacing */
}

.phone-card-carousel .phone-card {
  width: 100px;
  height: 240px;
  border: 5px solid var(--secondary-color);
  border-radius: 15px;
}

.phone-card-carousel img {
  max-width: 100%;
  width: 100px !important;
  height: 100px;
  display: block;
  margin: 0 auto; /* Center images */
}

.slick-initialized .slick-slide





/* Mobile content section */

.mobileSection p {
  width: 70%; 
  text-align: center;
  font-size: 1.4rem;
}

.mobileSection h3{
  position: relative;
    font-size: 3rem;
    font-weight: 900;
    line-height: 60px;
    color: var(--text-white);
}
.mobileSection span{
  color: var(--main-color);
}
.mobileSection h3::after{
  position: absolute;
  content: "";
  display: block;
  width: 212px;
  height: 94px;
  left: -25px;
  border-radius: 100px 65px 70px;
  background: linear-gradient(180deg, #8bc34a 0%, #00bcd4 100%);
  top: -7px;
  transform: rotate(357deg);
  z-index: -1;

}

